.edit-input {
  font-size: 18px;
  padding-left: 6px;
  width: 250px;
  color: #333;
}

.edit>.item-left {
  padding: 0 0 6px;
}

@media (max-width: 576px) {
  .edit-input {
    font-size: 15px;
    padding-left: 4px;
    width: 250px;
  }
}