.filter-tabs {
  margin-bottom: 2.5em;
}

.filter-tabs a {
  margin: 0 16px;
  font-size: 18px;
  padding: 5px 3px 4px 5px;
  letter-spacing: .05em;
  text-decoration: none;
  color: #8fa3ad;
  font-weight: 600;
}

.filter-tabs a span {
  padding-left: 4px;
  font-size: 20px;
}

.filter-tabs .current-tab {
  color: #e47756;
  border-bottom: 3px solid #193B46;
}

@media (max-width: 576px) {
  .heading {
    margin: 1em 0 .6em;
  }
}