.filter-tabs a {
  margin: 0 16px;
  font-size: 18px;
  padding: 5px 2px 3px 3px;
  letter-spacing: .05em;
  text-decoration: none;
  color: rgb(212, 86, 36);
}

.filter-tabs a span {
  padding-left: 4px;
  font-size: 20px;
}

.filter-tabs .current-tab {
  color: brown;
  font-weight: bold;
  border-bottom: 3px solid rgb(31, 30, 30);
}