.input {
  width: 280px;
  height: 42px;
  font-size: 18px;
  padding-left: 6px;
  margin-right: .5em;
  margin-bottom: 1.8em;
  color: #333;
}

.input-btn {
  vertical-align: top;
}

@media (max-width: 576px) {
  .input {
    height: 36px;
    margin-bottom: 1em;
  }
}