li {
  margin: 15px 0; 
}

li .check {
  margin: 2px 11px 0px 2px;
  transform: scale(1.45);
  vertical-align: text-top;
  cursor: pointer;
}

li span {
  font-size: 18px;
  vertical-align: bottom;
}

li span.item-done {
  text-decoration: line-through;
}

li .btn {
  margin-left: 10px;
}

li>.item-left, li>.item-right {
  display: inline-block;
}

li>.item-left {
  padding: 5px 0 10px;
}

li>.item-right {
  padding-right: 3px;
  text-align: right;
}

@media (max-width: 576px) {
  li {
    margin: 10px 0; 
  }
  li span {
    font-size: 16px;
  }
  li .btn {
    padding: 4px 8px;
    font-size: 14px;
  }
  li>.item-left {
    padding: 0 0 10px;
  }
  li>.item-right {
    text-align: right;
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  li .check {
    margin-right: 9px;
    margin-top: 2px;
    transform: scale(1.3);
  }
}