li {
  margin: 15px 0; 
}

li input {
  margin-right: 8px;
}

li span {
  font-size: 18px;
  vertical-align: bottom;
}

li span.item-done {
  text-decoration: line-through;
}

li .btn {
  margin-left: 10px;
}

li>.item-left, li>.item-right {
  display: inline-block;
}

li>.item-left {
  padding: 0 0 10px;
}

li>.item-right {
  padding-right: 10px;
  text-align: right;
}

li>.item-right>.btn {
  /* float: right; */
}

@media (max-width: 576px) {
  li {
    margin: 10px 0; 
  }
  li .btn {
    padding: 4px 8px;
    font-size: 14px;
  }
  li>.item-left {
    padding: 0 0 6px;
  }
  li>.item-right {
    text-align: right;
    padding-right: 10px;
  }

}