.heading {
  margin: 1.5em 0 1em;
  font-family: "MS Pゴシック";
  font-weight: 600;
  letter-spacing: .03em;
  color: #193B46;
}

ul,.item-number {
  list-style: none;
  max-width: 700px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0 10px;
  margin: 1.6em auto;
}

.item-number {
  font-size: 16px;
  font-weight: 600;
  color: rgb(97, 97, 97);
  padding-left: 12px;
  margin: 1.8em auto 0;
}

hr {
  background-color: #d8d1cb;
  height: 2px;
  border: none;
}

@media (max-width: 576px) {
  .heading {
    font-size: 32px;
    margin: 1em 0 .6em;
  }
}